@model ORUComSys.Models.MeetingViewModels
@{
    ViewBag.Title = "Meeting Planner";
}

<div id="ParticipantsDiv" class="d-none">
    <!-- Participants content gets injected here -->
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>My Meetings</h2>
            <br />
            @foreach(var meeting in Model.MyMeetings) {
                int numberOfInvites = Model.MeetingInvites.Where(invite => invite.MeetingId.Equals(meeting.Id)).ToList().Count;
                <div class="@Html.Raw((Model.MyMeetingInvites.Any(invite => invite.MeetingId.Equals(meeting.Id) && invite.Accepted)) ? "border-success " : "border-warning ")card border mb-2 border-thicc">
                    <div class="@Html.Raw((Model.MyMeetingInvites.Any(invite => invite.MeetingId.Equals(meeting.Id) && invite.Accepted)) ? "border-bottom border-success " : "")card-header">
                        @meeting.Title
                    </div>
                    <div class="card-body">
                        @meeting.Description
                    </div>
                    <footer class="@Html.Raw((Model.MyMeetingInvites.Any(invite => invite.MeetingId.Equals(meeting.Id) && invite.Accepted)) ? "border-top border-success " : "")card-footer">
                        <strong>Place: </strong>@meeting.Location
                        <button type="button" data-meeting-id="@meeting.Id" class="btn btn-secondary float-right btn-participant-list">@numberOfInvites</button><br />
                        <strong>Time: </strong>@meeting.MeetingDateTime
                        @if(Model.MyMeetingInvites.Any(invite => invite.MeetingId.Equals(meeting.Id) && invite.ProfileId.Equals(Model.ProfileId) && !invite.Accepted)) {
                            <div>
                                <button type="button" class="btn btn-success accept-meeting-invite-button" data-meeting-id="@meeting.Id">Accept</button>
                                <button type="button" class="btn btn-danger decline-meeting-invite-button" data-meeting-id="@meeting.Id">Decline</button>
                            </div>
                        }
                    </footer>
                </div>
            }
        </div>
        <div class="col-md-6">
            <h2>Create New Meeting</h2>
            <br />
            @Html.ActionLink("Create New Meeting", "CreateMeeting", new { area = "" }, new { @class = "btn btn-primary" })<br /><br />
            <h2>Edit Meetings I Created</h2>
            @foreach(var meeting in Model.MyCreatedMeetings) {
                <div class="card border border-secondary mb-2">
                    <a class="card-link" href="@Url.Action("EditMeeting", new { id = meeting.Id })">
                        <div class="card-body">
                            @meeting.Title
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/custom/meeting.js"></script>
}