@model ORUComSys.Models.MeetingInviteViewModels
@using System.Linq
@{
    ViewBag.Title = "Send Invites";
}
<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Back", "Index", new { area = "" }, new { @class = "btn btn-info float-right" })
        <h1>User Search: </h1>
        <input type="text" class="form-control" id="SearchField" placeholder="Search users by name" />
        <br />
        @foreach (var profile in Model.Profiles) {
            string HashTargetId = "#CardId-" + profile.Id;
            <div class="card border border-secondary mb-2" id="@HashTargetId">
                <div class="card-body">
                    <div class="media">
                        <a href="@Url.Action("Index", "Profile", new { id = profile.Id })" class="card-link">
                            <img class="mr-1" src="@Url.Action("RenderProfileImage", "Profile", new { id = profile.Id })" height="32" width="32" />
                        </a>
                        <div class="media-body">
                            <a href="@Url.Action("Index", "Profile", new { id = profile.Id })" class="card-link">
                                <span class="badge badge-primary personal-info">@profile.FirstName @profile.LastName</span>
                            </a>
                            @try {
                                var inviteModels = Model.Invites.Where((i) => i.ProfileId.Equals(profile.Id) && i.MeetingId.Equals(Model.MeetingId)).ToList();
                                if (inviteModels.Count > 0) {
                                    <button type="button" class="btn btn-danger invite-button float-right" id="@profile.Id" data-meeting-id="@Model.MeetingId">Remove</button>
                                } else {
                                    <button type="button" class="btn btn-success invite-button float-right" id="@profile.Id" data-meeting-id="@Model.MeetingId">Invite</button>
                                }
                            } catch {
                                <button type="button" class="btn btn-success invite-button float-right" id="@profile.Id" data-meeting-id="@Model.MeetingId">Invite</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/custom/meeting-invites.js"></script>
}