@model ORUComSys.Models.EmailViewModels
@{
    Layout = null; // IMPORTANT, removes navbar and site footer
}
<!doctype html>
<html lang="en" style="box-sizing: border-box;font-family: sans-serif;line-height: 1.15;-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: transparent;">
<head style="box-sizing: border-box;">
    <!-- Required meta tags -->
    <meta charset="utf-8" style="box-sizing: border-box;">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" style="box-sizing: border-box;">
</head>
<body style="box-sizing: border-box;margin: 0;font-family: -apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,Roboto,&quot;Helvetica Neue&quot;,Arial,&quot;Noto Sans&quot;,sans-serif,&quot;Apple Color Emoji&quot;,&quot;Segoe UI Emoji&quot;,&quot;Segoe UI Symbol&quot;,&quot;Noto Color Emoji&quot;;font-size: 1rem;font-weight: 400;line-height: 1.5;color: #212529;text-align: left;background-color: #fff;min-width: 992px!important;">
    <div style="box-sizing: border-box;width: 100%;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;min-width: 992px!important;">
        <div style="box-sizing: border-box;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-right: -15px;margin-left: -15px;">
            <div style="box-sizing: border-box;position: relative;width: 100%;padding-right: 15px;padding-left: 15px;-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;">
                <h3 style="box-sizing: border-box;margin-top: 0;margin-bottom: .5rem;font-weight: 500;line-height: 1.2;font-size: 1.75rem;orphans: 3;widows: 3;page-break-after: avoid;">Hello @Model.Recipient.FirstName @Model.Recipient.LastName!</h3>
                <p style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">You have been invited to a new meeting on ORUComSys by @Model.Sender.FirstName @Model.Sender.LastName</p>
                <div style="box-sizing: border-box;border: 1px solid #dee2e6!important;border-color: #007bff!important;">
                    <div style="box-sizing: border-box;background-color: #007bff!important;padding: .5rem!important;color: #f8f9fa!important;">
                        Title: @Model.Meeting.Title
                    </div>
                    <div style="box-sizing: border-box;background-color: #f8f9fa!important;padding: .5rem!important;color: #343a40!important;">
                        <p style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">Description: @Model.Meeting.Description</p>
                        <p style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">Location: @Model.Meeting.Location</p>
                        Time: @Model.Meeting.MeetingDateTime
                    </div>
                </div>
                <p style="box-sizing: border-box;margin-top: .5rem!important;margin-bottom: 1rem;orphans: 3;widows: 3;">To accept or decline this invitation, please visit ORUComSys.com and go to your Meeting Manager.</p>
                <p style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">Best regards,<br style="box-sizing: border-box;">ORUComSys Team</p>
            </div>
        </div>
    </div>
</body>
</html>