<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("ORUComSys", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            @if(Request.IsAuthenticated) {
                <!-- Pop up div for notifications -->
                <div id="NotificationPopUpDiv" class="d-none bg-secondary rounded text-light"></div>
            }

            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Search")" class="nav-link">
                            Search<i class="ml-1 fas fa-search"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Forum")" class="nav-link">
                            Forum<i class="ml-1 fab fa-wpforms"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Calendar")" class="nav-link">
                            Calendar<i class="ml-1 far fa-calendar-alt"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Meeting")" class="nav-link">
                            Meetings<i class="ml-1 fas fa-users"></i>
                        </a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ORUComSys</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @if(Request.IsAuthenticated) {
        @Scripts.Render("~/bundles/popper")
    }
    @RenderSection("scripts", required: false)
</body>
</html>