@using Microsoft.AspNet.Identity
@using ORUComSys.Extensions
@if(Request.IsAuthenticated) {
    using(Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <span id="GlobalNotificationButton" style="font-size: 1.5rem; line-height: inherit;">
                    <i class="far fa-bell bell-info">
                        <sup>
                            <span class="badge badge-light" id="NotificationNumberSpan" style="font-size: 0.7rem; cursor: default;">

                            </span>
                        </sup>
                    </i>
                </span>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index", "Profile", new { Id = User.Identity.GetUserId() })" class="nav-link">
                    @User.Identity.GetDisplayName()
                    <i class="ml-1 far fa-address-card"></i>
                </a>
            </li>
            <li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log out<i class="ml-1 fas fa-sign-out-alt"></i></a></li>
        </ul>
    }
} else {
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a href="@Url.Action("Register", "Account")" id="registerLink" , class="nav-link">
                Register<i class="ml-1 fas fa-user"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Login", "Account")" id="loginLink" , class="nav-link">
                Log in<i class="ml-1 fas fa-sign-in-alt"></i>
            </a>
        </li>
    </ul>
}