@using Microsoft.AspNet.Identity
@using ORUComSys.Models
@model PostViewModelsForUsers

<!-- Here goes the popup div for the list of reactions by people. -->
<div id="reaction-list-popup" class="d-none bg-secondary text-white">

</div>

<!-- Here goes the popup div for reactions. -->
<div id="reaction-popup" class="d-none bg-secondary text-white">
    <button class="btn btn-primary like-button" name="like">Like</button>
    <button class="btn btn-danger love-button" name="love">Love</button>
    <button class="btn btn-warning hate-button" name="hate">Hate</button>
    <button class="btn btn-info xd-button" name="xd">XD</button>
</div>

@if(Model.CurrentUser.IsAdmin) {
    <div>
        @foreach(var post in Model.Posts) {
            string TargetId = "deletePost" + post.Id;
            string HashTargetId = "#deletePost" + post.Id;
            string ReactButtonId = "react-button" + post.Id;
            string HashReactButtonId = "#react-button" + post.Id;
            string ReactionPopupId = "react-button" + post.Id;
            string HashReactionPopupId = "#react-button" + post.Id;
            <div class="card border border-primary bg-light mb-3 submitted-post">
                <div class="card-header">
                    <div class="media">
                        <a href="@Url.Action("Index", "Profile", new { id = post.PostFrom.Id })" class="card-link">
                            <img class="mr-1" src="@Url.Action("RenderProfileImage", "Profile", new { id = post.PostFrom.Id })" height="48" width="48" />
                        </a>
                        <div class="media-body">
                            <a href="@Url.Action("Index", "Profile", new { id = post.PostFrom.Id })" class="card-link">
                                <span class="badge badge-primary">
                                    @post.PostFrom.FirstName @post.PostFrom.LastName
                                </span>
                            </a>
                            <button type="button" class="btn close" data-toggle="modal" data-target="@HashTargetId">&times;</button>
                            <br />
                            <span class="badge">
                                <strong>Published: </strong>
                                <span>@post.PostDateTime</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">@post.Content</p>
                </div>

                <!-- Here goes the first footer, used for reactions and categories. -->
                <footer class="card-footer">
                    <div>
                        <strong>Category: </strong>
                        <span class="category-label">@post.Category.ToString()</span>
                        @if(post.Attachments.Count > 0) {
                            <br />
                            <strong>Attachment: </strong>
                            foreach(var attachment in post.Attachments) {
                                <span class="attachment-label btn-link" data-post-id="@post.Id" data-attachment-id="@attachment.Id" data-file-type="@attachment.FileExtension">@attachment.FileName</span>
                            }
                        }
                        <button type="button" class="btn btn-secondary float-right react-button" data-post-id="@post.Id" id="@HashReactButtonId">React</button>
                        <button type="button" class="btn btn-secondary float-right mr-2 reaction-count" data-post-id="@post.Id">@post.Reactions.Count</button>
                    </div>
                </footer>
                <!-- Here goes the second card footer, used for the comments section. Yes, you can have two footers. -->
                <footer class="card-footer">
                    <!-- Add partial view for Comment here! -->
                    <div class="comment-wall" id="comment-section-@post.Id">
                        @Html.Partial("_ForumPostComments", post.Comments)
                    </div>
                    <div class="d-flex flex-row">
                        <textarea class="rounded border border-primary card-text flex-fill mr-2 commentTextArea" id="comment-area-@post.Id" placeholder="Write a comment..."></textarea>
                        <button type="button" class="btn btn-primary justify-content-end comment-button" data-post-id="@post.Id">Comment</button>
                    </div>
                </footer>
            </div>
            <!-- Modal for deleting posts -->
            <div class="modal fade" id="@TargetId" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirm</h5>
                            <button type="button" class="close" data-dismiss="modal" aira-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this post?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger deleteBtn" data-post-id="@post.Id">Delete Post</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
} else {
    <div>
        @foreach(var post in Model.Posts) {
            string TargetId = "deletePost" + post.Id;
            string HashTargetId = "#deletePost" + post.Id;
            string ReactButtonId = "react-button" + post.Id;
            string HashReactButtonId = "#react-button" + post.Id;
            string ReactionPopupId = "react-button" + post.Id;
            string HashReactionPopupId = "#react-button" + post.Id;
            <div class="card border border-primary bg-light mb-3">
                <div class="card-header">
                    <div class="media">
                        <a href="@Url.Action("Index", "Profile", new { id = post.PostFrom.Id })" class="card-link">
                            <img class="mr-1" src="@Url.Action("RenderProfileImage", "Profile", new { id = post.PostFrom.Id })" height="48" width="48" />
                        </a>
                        <div class="media-body">
                            <a href="@Url.Action("Index", "Profile", new { id = post.PostFrom.Id })">
                                <span class="badge badge-primary">@post.PostFrom.FirstName @post.PostFrom.LastName</span>
                            </a>
                            @if(post.PostFrom.Id.Equals(User.Identity.GetUserId())) {
                                <button type="button" class="close" data-toggle="modal" data-target="@HashTargetId">&times;</button>
                            }
                            <br />
                            <span class="badge">
                                <strong>Published: </strong>
                                <span>@post.PostDateTime</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">@post.Content</p>
                </div>

                <!-- Here goes the first footer, used for reactions and categories. -->
                <footer class="card-footer">
                    <div>
                        <strong>Category: </strong>
                        <span class="category-label">@post.Category.ToString()</span>
                        @if(post.Attachments.Count > 0) {
                            <br />
                            <strong>Attachment: </strong>
                            foreach(var attachment in post.Attachments) {
                                <span class="attachment-label btn-link" data-post-id="@post.Id" data-attachment-id="@attachment.Id" data-file-type="@attachment.FileExtension">@attachment.FileName</span>
                            }
                        }
                        <button type="button" class="btn btn-secondary float-right react-button" data-post-id="@post.Id" id="@HashReactButtonId">React</button>
                        <button type="button" class="btn btn-secondary float-right mr-2 reaction-count" data-post-id="@post.Id">@post.Reactions.Count</button>
                    </div>
                </footer>

                <!-- Here goes the second card footer, used for the comments section. Yes, you can have two footers. -->
                <footer class="card-footer">
                    <!-- Add partial view for Comment here! -->
                    <div class="comment-wall" id="comment-section-@post.Id">
                        @Html.Partial("_ForumPostComments", post.Comments)
                    </div>
                    <div class="d-flex flex-row">
                        <textarea class="rounded border border-primary card-text flex-fill mr-2 commentTextArea" id="comment-area-@post.Id" placeholder="Write a comment..."></textarea>
                        <button type="button" class="btn btn-primary justify-content-end comment-button" data-post-id="@post.Id">Comment</button>
                    </div>
                </footer>
            </div>
            <!-- Modal for deleting posts -->
            <div class="modal fade" id="@TargetId" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirm</h5>
                            <button type="button" class="close" data-dismiss="modal" aira-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this post?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger deleteBtn" data-post-id="@post.Id">Delete Post</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}