@model IEnumerable<Datalayer.Models.CommentModels>

@foreach(var comment in Model) {
    <div class="d-flex flex-row">
        <div class="media mb-3">
            <a href="@Url.Action("Index", "Profile", new { id = comment.ProfileId })" class="card-link">
                <img class="mr-1 rounded-circle" src="@Url.Action("RenderProfileImage", "Profile", new { id = comment.ProfileId })" height="32" width="32" />
            </a>
            <div class="media-body flex-grow-1">
                <div class="badge bg-white border border-primary text-left">
                    <a href="@Url.Action("Index", "Profile", new { id = comment.ProfileId })" class="alert-link">
                        <span>@comment.Profile.FirstName @comment.Profile.LastName</span>
                    </a>
                    <span class="text-wrap">@comment.Content</span>
                </div>
                <br /><span class="badge"><strong>Published: </strong>@comment.CommentDateTime</span>
            </div>
        </div>
    </div>
}