@model ForumViewModel
@using ORUComSys.Models
@using Datalayer.Models
@{
    int i = 1;
}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2>Informal Forum</h2>
            @using(Html.BeginForm("Informal", "Forum", FormMethod.Post, new { enctype = "multipart/form-data" })) {
                @Html.AntiForgeryToken()
                <div class="card border border-danger bg-light mb-3" id="CreatePostCard">
                    <div class="card-header">
                        <h4><span class="card-title">Create Post</span></h4>
                    </div>
                    <div class="card-body">
                        @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control card-text", @placeholder = "What's on your mind?", @id = "Content" } })
                        <div class="form-group">
                            <input type="file" multiple="multiple" id="AttachedFile" name="AttachedFile" accept="image/*" />
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(c => c.Category,
                            new SelectList(Enum.GetValues(typeof(CategoryType))),
                            "Select Category",
                            new { @class = "form-control", @id = "category-selector" })
                            @Html.ValidationMessageFor(c => c.Category)
                        </div>
                    </div>
                    <footer class="card-footer">
                        <p class="float-left card-text">Characters Remaining: <span class="badge badge-pill badge-success" id="TextAreaWordCounter">280</span></p>
                        <input type="submit" class="btn btn-primary float-right" value="Submit Post" id="SubmitPost">
                    </footer>
                </div>
            }
            <div id="postWall">
                @Html.Partial("_ForumPosts", Model.PartialViewModel)
            </div>
        </div>
        <div class="col-md-3 filter-div">
            <br />
            <br />
            <h4>Filter by Category</h4>
            @foreach(var cat in Model.Categories) {
                string checkBoxId = "checkBox-" + i;
                <div class="btn-group-toggle mb-1" data-toggle="buttons">
                    <label class="btn btn-info active filter-checkbox">
                        <input type="checkbox" id="@checkBoxId" checked autocomplete="off" />@cat.Name
                    </label>
                </div>
                i++;
            }
            <div class="follow-wrapper">
                <button class="btn btn-outline-primary" id="subscribe-btn">Subscribe</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/custom/forum-posts.js"></script>
    <script src="~/Scripts/custom/forum-comments.js"></script>
    <script src="~/Scripts/custom/forum-categories.js"></script>
    <script src="~/Scripts/custom/forum-reactions.js"></script>
    <script src="~/Scripts/custom/forum-post-subscriptions.js"></script>
}